package views

import (
    "fmt"
    "github.com/fitz123/mcduck-wallet/pkg/database"
)

templ Balance(balance float64, currency database.Currency) {
        <div class="balance-amount">
            <span class="currency-sign">{ currency.Sign }</span>
            <span class="balance-amount">{ fmt.Sprintf("%.0f", balance) }</span>
        </div>
        <span class="currency-name">{ currency.Name }</span>
}
